**Load Data**

In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('/content/train.csv')

In [16]:
df.head()

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,3.190000e+18,0,14102101,1005,0,85f751fd,c4e18dd6,50e219e0,c0c5eb49,f2f777fb,...,1,0,21611,320,50,2480,3,297,100111,61
1,3.190000e+18,1,14102101,1005,0,5b08c53b,7687a86e,3e814130,ecad2386,7801e8d9,...,1,0,17653,300,250,1994,2,39,-1,33
2,3.190000e+18,0,14102101,1005,0,5b08c53b,7687a86e,3e814130,ecad2386,7801e8d9,...,1,0,17653,300,250,1994,2,39,-1,33
3,3.190000e+18,0,14102101,1005,0,85f751fd,c4e18dd6,50e219e0,5e3f096f,2347f47a,...,1,0,21611,320,50,2480,3,297,100111,61
4,3.190000e+18,0,14102101,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15706,320,50,1722,0,35,100084,79

In [17]:
df.set_index('id',inplace=True)

In [18]:
y = df['click']

In [19]:
x = df.loc[:,df.columns!='click']

In [20]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 100001 entries, 3.19e+18 to 1.35e+19
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   hour              100001 non-null  int64
 1   C1                100001 non-null  int64
 2   banner_pos        100001 non-null  int64
 3   site_id           100001 non-null  object
 4   site_domain       100001 non-null  object
 5   site_category     100001 non-null  object
 6   app_id            100001 non-null  object
 7   app_domain        100001 non-null  object
 8   app_category      100001 non-null  object
 9   device_id         100001 non-null  object
 10  device_ip         100001 non-null  object
 11  device_model      100001 non-null  object
 12  device_type       100001 non-null  int64
 13  device_conn_type  100001 non-null  int64
 14  C14               100001 non-null  int64
 15  C15               100001 non-null  int64
 16  C16               100001 non-null  int64
 17  C17               100001 non-null  int64
 18  C18               100001 non-null  int64
 19  C19               100001 non-null  int64
 20  C20               100001 non-null  int64
 21  C21               100001 non-null  int64
dtypes: int64(13), object(9)
memory usage: 17.5+ MB

**Transformation**

In [24]:
from sklearn.preprocessing import LabelEncoder
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
numeric_columns = x.select_dtypes(include=numerics)
non_numeric_columns = list(set(x.columns) - set(numeric_columns)) + list(
    set(numeric_columns) - set(x.columns))
le = LabelEncoder()
x[non_numeric_columns] = x[non_numeric_columns].apply(le.fit_transform)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [25]:
x.head()

,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,device_id,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
id,,,,,,,,,,,,,,,,,,,,,
3.190000e+18,14102101,1005,0,572,699,4,682,66,2,7607,...,1,0,21611,320,50,2480,3,297,100111,61
3.190000e+18,14102101,1005,0,398,409,3,853,30,0,7607,...,1,0,17653,300,250,1994,2,39,-1,33
3.190000e+18,14102101,1005,0,398,409,3,853,30,0,7607,...,1,0,17653,300,250,1994,2,39,-1,33
3.190000e+18,14102101,1005,0,572,699,4,374,8,2,7607,...,1,0,21611,320,50,2480,3,297,100111,61
3.190000e+18,14102101,1005,0,126,856,1,853,30,0,7607,...,1,0,15706,320,50,1722,0,35,100084,79

Warning: Total number of columns (22) exceeds max_columns (20) limiting to first (20) columns.

**Model Training**

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33)

In [28]:
from xgboost import XGBClassifier
xgb = XGBClassifier()

In [29]:
xgb.fit(X_train,y_train)

XGBClassifier()

In [31]:
y_predict = xgb.predict(X_test)

**Evaluation**

In [35]:
from sklearn.metrics import accuracy_score, precision_score
print(accuracy_score(y_pred=y_predict,y_true=y_test))
print(precision_score(y_pred=y_predict,y_true=y_test))

0.8416714645010758
0.10438335809806835

**Apply model on test data**